
.services-container, .products-container {
    width: 100%;
    margin: 30px 0px;
}

.products-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.products-container > .products-filters {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.products-container > .products-heading > h4{
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    margin: 0;
}

/* -----------------------show dropdown-------------------------- */
 /* dropdown */


.products-filters > .shows-filter > .dropdown  {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.products-filters > .shows-filter > .dropdown svg{
    position: absolute;
    right: 10px;
    top: 10px;
    left: unset;
}

.products-filters > .shows-filter > .dropdown input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #00000021;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
}

.products-filters > .shows-filter > .dropdown > div > .dropdown-menu {
    /* width: 100%; */
    padding: 0px;
    border-radius: 8px;
}

.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:first-child {
    border-radius: 8px 8px 0px 0px;
}

.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:last-child {
    border-radius: 0px 0px 10px 10px;
}

.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item > label {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item > label > input {
    appearance: none;
    border: 1px solid var(--primary-color);
    width: 15px;
    height: 15px;
    content: none;
    outline: none;
    margin: 0;
    border-radius: 4px;
    padding: unset;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item > label > input[type="radio"]:checked {
    appearance: none;
    outline: none;
    padding: 0;
    content: none;
    border: none;
}

.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item > label > input[type="radio"]:checked::before{
    position: absolute;
    width: 15px;
    height: 15px;  
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    content: url('/static/UoneR/order/images/radio-check.svg') !important;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item > label > span{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    color: #6A6767;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:active {
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:active >  label > span {
    color: #FFFFFF !important;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:active >  label > input[type="radio"]:checked::before {
    background-color: #FFFFFF;
}

.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:hover >  label > span {
    color: #FFFFFF !important;
}
.products-filters > .shows-filter > .dropdown > div > .dropdown-menu > .dropdown-item:hover >  label > input[type="radio"] {
    background-color: #FFFFFF;
}

/* end dropdown */

/* -------------------products type radio button-------------- */

.product-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscription-duration-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 8px;
}

.subscription-duration-group .duration-radio-btn {
    position: relative;
    width: 210px;
    height: 40px;
    border-radius: 8px;
}

input[name="subscription_duration_radio"] {
    display: none;
}

.subscription-duration-group .duration-radio-btn .duration-radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
    color: var(--text-field-heading);
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px #00000021;
    border-radius: 0px 8px 8px 0px;
    transition: all ease .1s;
    cursor: pointer;
}

.subscription-duration-group .duration-radio-btn:first-of-type .duration-radio-label {
    border-radius: 8px 0px 0px 8px;
}

.subscription-duration-group .duration-radio-btn:nth-child(2) .duration-radio-label {
    border-radius: 0px;
}

.subscription-duration-group .duration-radio-btn:last-of-type .duration-radio-label {
    border-radius: 0px 8px 8px 0px;
}

.subscription-duration-group .duration-radio-btn .duration-radio-label .savings {
    font-size: .75rem;
    font-style: italic;
    font-weight: 500;
    line-height: 15.6px;
    text-align: right;
    color: var(--primary-color)!important;
}

input[name="subscription_duration_radio"]:checked + .duration-radio-label {
    color: #9A9A9A!important;
    background: var(--primary-color)!important;
    /* border-radius: 8px!important; */
    border: 2px solid  var(--primary-color)!important;
    box-shadow: none!important;
    color: #FFFFFF!important;
}

/* --------------------------------------------- */

.products-list-container{
    display: grid;
    padding: 0;
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr ) );
    grid-gap: 1em;
}

.products-list-container > .product-content {
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    overflow: hidden;
    /* width: 268px;
    height: 322px; */
}

.products-list-container > .product-content > .product-image-container{
    width: 100%;
    height: 75%;
}

.products-list-container > .product-content > .product-image-container > img {
    width: 100%;
    height: 100%;
    /* object-fit: contain;
    object-position: center; */
}

.products-list-container > .product-content > .product-info-container {
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.products-list-container > .product-content > .product-info-container > span:last-of-type {
    color: var(--primary-color);
}

.services-container {
    padding: 50px 70px;
    width: 100%;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-container > .service-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.services-container > .service-content > .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.services-container > .service-content > .text-container > span:first-child{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 19.8px;
    text-align: left;
}

.services-container > .service-content > .text-container > span:last-of-type {
    font-size: 15px;
    font-weight: 700;
    line-height: 16.5px;
    text-align: left;
    color: #454545;
}

/* @media (max-width: 1916px) {
    .products-list-container > .product-content {
        flex-basis: 19.33%;
    }
}

@media (max-width: 1910px) {
    .products-list-container > .product-content {
        flex-basis: 24.33%;
    }
}

@media (max-width: 1796px) {
    .products-list-container > .product-content {
        flex-basis: 32.73%;
    }
} */

@media (max-width: 1358px) {
    .products-list-container > .product-content {
        flex-basis: 32.45%;
    }
}

@media (max-width: 1228px) {
    .products-list-container > .product-content {
        flex-basis: 49.3%;
    }
}

@media (max-width:1290px) {
    .services-container {
        gap: 30px;
    }
    .products-container > .products-filters{
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .product-filter {
        flex-direction: column;
        align-items: flex-start;
    }
    .subscription-duration-group .duration-radio-btn {
        width: 120px;
    }
}