{% extends "authentication/base.html" %}
{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static "administration/authentication/css/forgot-password.css" %}">
{% endblock addcss %}
{% block title %}Forgot Password{% endblock title %}

{% block content %}

<div class="forgot-password-content">
    <div class="title-info-container">
        <h4>Forgot Password</h4>
        <span>Enter email associated with your account</span>
    </div>

    <div class="form-container h-100">
        <form action="" id="sendOTPForm">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="email">Email</label>
                <div class="w-100">
                    <input type="email" name="email" id="email" placeholder="alexandra@gamil.com">
                </div>
            </div>
            <div class="error-div w-100 h-100">
                <small class="create-error-msg input-error-msg"></small>
            </div>
            <div class="button-container">
                <button type="Submit" onclick="sendOTPForm(event);">
                    <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                    <span class="btn-text">Send</span>
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock content %}

{% block addjs %}
<script src="{% static "administration/authentication/js/forgot-password.js" %}"></script>
{% endblock addjs %}