.forgot-password-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 66px 180px;
}

.forgot-password-content > .title-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.forgot-password-content > .title-info-container > h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;
    color: #000000;
}

.forgot-password-content > .title-info-container > span {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: #454545;
}

.forgot-password-content > .form-container {
    width: 100%;
}

.forgot-password-content > .form-container > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}


.forgot-password-content > .form-container > form > .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.forgot-password-content > .form-container > form > .input-wrapper > label {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
    color: #000000;
}

.forgot-password-content > .form-container > form > .input-wrapper > div > input {
    width: 100%;
    padding: 11px 15px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 0px 5px 0px #00000021;
}

.forgot-password-content > .form-container > form > .input-wrapper > div > svg {
    position: absolute;
    right: 15px;
    top: 17px;
}

.forgot-password-content > .form-container > form > .forget-password {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.forgot-password-content > .form-container > form > .forget-password > a {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: center;
    color: var(--primary-color);
}

.forgot-password-content > .form-container > form > .button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-content > .form-container > form > .button-container > button {
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;
}

.forgot-password-content > .form-container > form > .button-container > button > span {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
    color: #FFFFFF;
}   