{% load static %}
<div class="container footer-container">
    <footer class="row row-cols-2 row-cols-md-4 row-cols-lg-6">
        <div class="col-4 logo-col">
            <a href="/" class="d-flex align-items-center mb-3 footer-logo text-decoration-none">
                <img class="logo" src="{% static 'common/images/favicon.svg' %}" alt="logo">
            </a>

            <div class="contact-info-container">
                <span>Contact Info</span>
                <span>17 Princess Road, London, Greater London NW1 8JR, UK</span>
            </div>
        </div>

        <div class="col col-8 footer-links">
            <div class="row row-cols-lg-6 justify-content-between">
                <div class="col empty-col">
                </div>
            
                <div class="col-3 content-col">
                    <a href="#Home" class="text-decoration-none"><h5 class="footer-header">Categories</h5></a>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Carpets</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Sisal</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Fairway</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Elite Carnival</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Standard Carnival</a></li>
                    </ul>
                </div>
            
                <div class="col-3 content-col">
                    <a href="#Pricing" class="text-decoration-none"><h5 class="footer-header">Customer Care</h5></a>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">My Account</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Discount</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Returns</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Orders History</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Order Tracking</a></li>
                    </ul>
                </div>
            
                <div class="col-3 content-col">
                    <a href="#Aboutus" class="text-decoration-none"><h5 class="footer-header">Get Help</h5></a>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Browse the Shop</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Shipping and Delivery</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Complaints</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Terms & Conditions</a></li>
                        <li class="nav-item mb-3"><a href="javascript:void(0);" class="nav-link p-0">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>