<div class="pagination-container">
    <div class="pagination-items-list">
        <div class="pagination-item">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.12081 13.2783L9.02982 12.3693L5.43246 8.7655H13.2783V7.47612L5.43246 7.47612L9.02982 3.87231L8.12081 2.9633L2.9633 8.12081L8.12081 13.2783Z" fill="#778088"/>
            </svg>                                       
        </div>
        <div class="pagination-item active">1</div>
        <div class="pagination-item">2</div>
        <div class="pagination-item">3</div>
        <div class="pagination-item">4</div>
        <div class="pagination-item">....</div>
        <div class="pagination-item">10</div>
        <div class="pagination-item active">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.12089 2.96338L7.21188 3.87239L10.8092 7.4762H2.96338V8.76558H10.8092L7.21188 12.3694L8.12089 13.2784L13.2784 8.12089L8.12089 2.96338Z" fill="#8EC549"/>
            </svg>                    
        </div>
    </div>
</div>