<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static "UoneR/test/css/test-file.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="yourpath/all-animation.css" /> -->
  <link rel="stylesheet" href="{% static "UoneR/test/css/media.css" %}">
  </head>
  <body>
    <section style="background-color: whitesmoke; ">
      <div class="first-div">
        <button>Close</button>
    </div>
    <main>
      <div class="card text-center first-card">
          <div class="card-header headd">
            <p >Single-Ride Regular Fare</p>
          </div>
          <div class="card-body">
              <div class="image">
                  <img src="{% static "UoneR/test/images/qr.png" %}" alt="">
              </div>
           <div class="another-card">
              <div class="card text-center">
                  <div class="card-header second-card-heading">
                    
                    <div class="color-grid">
                      <div class="pink" >
                       
                      </div>
                      <div class="yellow"></div>
                      <div class="gray"></div>
                      <div class="back-color">
                        <p id="datetime">loading... </p>
                      </div>
                     
                    </div>
                  
                  </div>
                  <div class="card-body second">
                   <img src="{% static "UoneR/test/images/image.png" %}" alt="">
                  </div>
                  <div class="card-footer text-body-secondary second-card-footer d-flex justify-content-center align-items-center">
                      <span>Activated <span id="current-time"></span> </span>
                  </div>
                </div>
           </div>
           
          </div>

          <div class="card-footer text-body-color first-footer">
              <img src="{% static "UoneR/test/images/noun-list-3527283 1.svg" %}" alt=""> <span>Details</span>
          </div>
        </div>
  </main>
    </section>
   
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static "UoneR/test/js/script.js" %}"></script>
  </body>
</html>