.close-svg {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.back-svg {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.main-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#delete-modal .modal-dialog {
    max-width: unset;
    width: 514px;
    display: flex !important;
}

#delete-modal .modal-header {
    padding: 0!important;
    border-radius: 15px!important;

}

/* .show {
    display: flex !important;
} */

#delete-modal .modal-content {
    padding: 30px;
    /* height: fit-content; */
}

#delete-modal .modal-footer,
#delete-modal .modal-content {
    border-radius: 15px!important;
}

#delete-modal .modal-header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#delete-modal .modal-header > span:first-child {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;
    color: #000000;
}

#delete-modal .modal-header > span:last-child {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: #646464;
}

#delete-modal .modal-body {
    padding: 0px!important;
}

#delete-modal .modal-body > .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#delete-modal .modal-body > .main-content > span:nth-child(2){
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
    color: #000000;
}

#delete-modal .modal-body > .main-content > span:last-child{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #414040;
}

#delete-modal .error-div {
    text-align: left;
    /* padding: 0px 30px; */
    /* margin-top: 5px; */
}


#delete-modal .modal-footer {
    padding: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
    margin-top: 20px;
}

#delete-modal .modal-footer > div > span{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: center;
    color: #000000;
}

#delete-modal .modal-footer > div > span > a{
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: center;
    color: var(--primary-color);
}
#delete-modal .modal-footer > button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

#delete-modal .modal-footer > button:first-of-type {
    background: #FF0000;
}

#delete-modal .modal-footer > button:last-of-type {
    background: var(--primary-color);
}

#delete-modal .modal-footer > button > span {
    color: #FFFFFF;
}


/* .subscription-currency-dropdown {
    width: 106px;
    height: 45px;
    border-radius: 8px;
    border: 2px solid #070C29;
    box-shadow: 0px 0px 5px 2px #7C00F41A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
} */

.subscription-currency-dropdown-btn {
    width: 100%;
    padding: 0px 7px;
}

.subscription-currency-dropdown .currency-details {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.subscription-currency-dropdown .currency-details span:first-of-type {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    position: relative;
    /* top: -1px; */
}

.subscription-currency-dropdown .currency-details span:last-of-type {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.8px;
}

.subscription-currency-dropdown .subscription-currency-menu {
    width: 130px;
    padding: 0px;
    border: none;
    min-width: unset;
    top: 0px!important;
}

.subscription-currency-dropdown .subscription-currency-menu .dropdown-item {
    /* width: 103px; */
    height: 45px;
    padding: 0px;
    box-shadow: 0px 0px 5px 2px #7C00F41A;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 10px;
}

/* .subscription-currency-dropdown .subscription-currency-menu .dropdown-item:first-of-type {
    border-radius: 8px 8px 0px 0px;
}

.subscription-currency-dropdown .subscription-currency-menu .dropdown-item:last-of-type {
    border-radius: 0px 0px 8px 8px;
} */

.subscription-currency-dropdown .subscription-currency-menu .dropdown-item span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
}

/* ------------------verify code------------------- */


.login-input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.login-input-group > .code-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-input-group > .code-inputs > input {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ECECEC;
    box-shadow: 0px 0px 5px 0px #00000021;
    font-size: 1rem;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
}

.login-input-group > .code-inputs > input:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.filled-input {
    border: 2px solid var(--primary-color)!important;
    background: #d2f2a51a;
    color: var(--primary-color)!important;
}

.didnt-recieved-code{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: center;
    color: #000000;
}